.alinhaMF{
    display: flex;
}

.livroMF{
    display: flex;
    margin: 30px;
    gap: 20px;
    font-size: 0.9rem;
}

.livroMF .livro{
    width: 150px;
    height: 209px;
}

.infoF .negrito{
    font-weight: bold;
    margin-bottom: 5px;
}

.infoF .italico{
    font-style: italic;
    margin-top: 2px;
}

.infoF .preco{
    font-size: 1.8rem;
    margin-top: 5px;
}

.infoF img{
    width: 100px;
    margin-top: 5px;
}

.ver{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.ver img{
    width: 25px;
}

.fundo{
    background-color: #AB4A15;
    padding: 10px;
    border-radius: 5px;
    width: 140px;
    color: #F0EBD5;
    display: flex;
    justify-content: center;
}
